img{
	width: 30%;
	margin: 1.666%;
	float: left;
}

p{
	font-family: Raleway;
	font-weight: 800;
	margin-left: 1.66%;
	font-size: 23px;
	text-transform: uppercase;
	width: 30%;
	padding-bottom: 20px;
	border-bottom: 2px solid #F1F1F1;
}